# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/
# OS
.DS_Store

# Logs
*.log


# Linux
*~

# Database
*.db
*.sqlite3

# Build
dist/
build/